# Archivos de Python generados
__pycache__/
*.pyc
*.spec
build/
dist/
*.vscode

# Archivos de log
*.log

# Archivos específicos del proyecto que no deben subirse
gemini.md
compile.bat
certificado.pfx
